doctype html
html
    head
        title הורדת התוכנה
        meta(charset="utf-8")
        script(src="./public/js/vendors/jquery-3.2.1.min.js")
        link(rel="stylesheet",href="./public/css/style.css")
    body
        h2.hdr neighberboards download page for android
        section.main
            span download the app from 
            a(href="./public/app/neighberboards.apk") here

