doctype html
html
    head
        title home pg
        meta(charset="utf-8")
        script(src="./public/js/vendors/jquery-3.2.1.min.js")
        script(src="./public/js/main.js?v=1")
    body
        input#bSearch(type="button",value="סייר בשכונה")
        input#bAdd(type="button",value="הוסף אטרקציה")
        textarea#eContent(placeholder="מה יש לך בשבילנו היום ?")
        