doctype html
html
    head
        title home pg
        meta(charset="utf-8")
        script(src="./public/js/vendors/jquery-3.2.1.min.js")
        script(src="./public/js/main.js?v=1")
        link(rel="stylesheet",href="./public/css/style.css")
    body
        form#eForm(method="post",action="./insertData",target="eIframe",enctype="multipart/form-data")
            input#eFile(name="fl",type="file")
        textarea#eContent(name="content",placeholder="מה יש לך בשבילנו היום ?")
        input#bSearch(type="button",value="סייר בשכונה")
        input#bAdd(type="button",value="הוסף אטרקציה")
        iframe#eIframe(name="eIframe",class="hideMe123")
        